name: Develop

on:
  push:
    branches:
      - develop
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
            python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"] # quotation marks are mandatory
    env:
      PYTHONUSING_COVERAGE: "3.9"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4.2.2

      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
            python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          make deps

      - name: Run tox
        run: |
          make tox
